.button {
  cursor: pointer;
  color: white;
  font-weight: 600;
  border-radius: $border-radius;
  height: 48px;
  padding: 0 16px;
  width: 100%;
  background-color: $orange-color;
  border: none;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;

  @media (max-width: 1024px) {
    flex-direction: row;
    margin-bottom: 20px;
  }
  svg {
    position: absolute;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;

    @media (max-width: 1024px) {
      filter: invert(0%) sepia(96%) saturate(7485%) hue-rotate(276deg) brightness(93%) contrast(99%);
    }

    @-moz-keyframes spin {
      100% {
        -moz-transform: rotate(360deg);
      }
    }
    @-webkit-keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
    @keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }

  &:hover {
    &::after {
      background: rgba(67, 83, 106, 0.08);
      border-radius: inherit;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition-duration: 0s;
      transition-property: background-color;
      transition-timing-function: cubic-bezier(0.33, 0.96, 0.49, 1.01);
    }
  }
}
